@font-face {
    font-family: "Montserrat";
    src: url('res/fonts/Montserrat.ttf');
}

@font-face {
    font-family: "Montserrat Semibold";
    src: url('res/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: "Montserrat Extrabold";
    src: url('res/fonts/Montserrat-ExtraBold.ttf');
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #2a2a2a;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    margin: 120px;
    border-radius: 25px;
    background: linear-gradient(310deg, rgba(160, 38, 10, 1)0%, rgba(255, 0, 0, 1)100%);
}

@keyframes balance {
    from {
        rotate: -5deg;
    }

    to {
        rotate: 5deg;
    }
}

/*@keyframes blink {
    0% {
        filter: brightness(100%);
    }
    30% {
        filter: brightness(00%);
    }
    68%,
    72% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(00%);
    }
  }
  */

* {
    box-sizing: border-box;
}

main {

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

body {
    background-image: url(res/meshgradient.png);
    color: white;
    margin: 0px;
    background-size: 100% 100%;
}

.heading {
    background-color: rgba(42, 42, 42, 0.5);
    backdrop-filter: blur(10px);
    position: sticky;
    padding: 1em 15%;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 10;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-left: 2em;
}

.nav a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav a:hover {
    color: #FF0000;
    text-decoration: none;
    text-shadow: 0px 0px 5px #FF0000;
    transition: all 0.2s ease-in-out;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        width: 100%;
        background-color: rgba(42, 42, 42, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar .nav {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar .nav li {
        margin: 0;
        padding: 1em;
        text-align: center;
        width: 100%;
    }

    .menu-icon {
        display: block;
        color: white;
    }

    .menu-toggle:checked+.menu-icon+.navbar {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }
}

.heyimepson {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3em;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: flex-start;
}

@media only screen and (min-width: 768px) {

    .heyimepson .about .portfolio .skills .social {
        padding: 2em
    }

    .heyimepson {
        min-height: 90vh;
        align-items: center;
        padding-top: 0.2em;
    }

    .chillimg {
        max-width: 19em !important;
    }
}

.pres {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    text-overflow: ellipsis;
    background-size: 0% 100%;
    animation: 3s textappear ease-in-out;
}

.chillimg {
    max-width: 13em;
    animation: 3s infinite alternate balance ease-in-out;

}

.about {
    display: flex;
    flex-direction: column;
}

.about .lselem {
    display: flex;
    align-items: center;
}

.lselem img {
    padding-right: 1em;
    width: 3em;

}

.portfolio {
    display: flex;
    flex-direction: column;
}

.pf-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pf-card {
    border-radius: 15px;
    width: 30%;
    height: 40vh;
    overflow: hidden;
    margin-bottom: 2em;
    min-width: 300px;
    min-height: 400px;
}

.pf-card:not(.cardimg) {
    padding-left: 1em;
    padding-right: 1em;
}

#oasis {
    background-color: #371102;
    border: 1px solid #523a2f;
}

#oasis .cardimg {
    background: center / cover no-repeat url("res/oasis.png");
    width: 100%;
    height: 50%;
}

#ribot {
    background-color: #55c661;
    border: 1px solid #86e090;
    color: black;
}

#ribot .cardimg {
    background: center / cover no-repeat url("res/ribot.png");
    width: 100%;
    height: 50%;
}

#huh {
    background-color: #000000;
    border: 1px solid #1b1b1b;
}

#huh .cardimg {
    /*background: center / cover no-repeat url("res/huh.png");*/
    width: 100%;
    height: 50%;
}

.skills {
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Montserrat Extrabold";
}

p {
    font-family: "Montserrat";
}

p a {
    font-weight: bold;
    color: #FF0000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

p a:hover {

    text-decoration: none;
    text-shadow: 0px 0px 5px #FF0000;
    transition: all 0.2s ease-in-out;
}

ul {
    font-family: "Montserrat Semibold";
}

.red {
    color: #FF0000;
    text-shadow: 0px 0px 5px #FF0000;
}

.emph {
    font-size: 150%;
}

/*.red .emph{
    animation: 3s infinite alternate blink ease-in-out;
}
*/
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}


.botheading {
    background-color: rgba(42, 42, 42, 0.5);
    backdrop-filter: blur(10px);
    position: sticky;
    padding: 1em 15% 1em 15%;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 10;
}

.botbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botnav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.botnav li {
    margin-left: 1em;
}

.botnav a {
    /*padding-bottom: 3px;*/
    color: white;
    text-decoration: none;
}

.botcredits {
    display: flex;
    align-items: center;
}

.botcredits p {
    padding-left: 1em;
}